.App {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-areas: "editor preview";
  background-color: rgb(252, 177, 79);
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.editor {
  display: flex;
  height: 100%;
  width: 50%;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 147, 147);
  }

.preview {
  display: block;
  justify-content: center;
  text-align: center;
  }

  input[type="text"], textarea {
    background-color: rgb(255, 160, 36); 
  }