.container {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-areas: 
    "display display display display"
    "C C div multiply"
    "seven eight nine substract"
    "four five six add"
    "one two three equals"
    "zero zero decimal equals";
    border: 1px solid rgb(0, 0, 0);
    }

  .padButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    background-color: rgb(252, 233, 249);
    color: rgb(138, 0, 119);
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
    font-size: 25px;
    }

 .display {
  grid-area: display;
  text-align: right;
  background-color: black;
  font-size: 15px;
  color: bisque;
 }

 .zero {
  grid-area: zero;
 }

 .equals {
  grid-area: equals;
 }

 .C {
  grid-area: C;

 }

 .red {
  background-color: rgb(231, 68, 210);
  color:black;
 }

 .darkGray {
  background-color: rgb(122, 60, 107);
  color: aliceblue;
 }

 .total {
  color: hotpink;
  font-size: 25px;
 }